// see: https://spotify.app.box.com/s/x8zbmllixjqbewbwitqy
$dark: #262626;
$grey: rgb(130, 130, 130);
$light: #FFFFFF;
$sand: rgb(236, 235, 232);
$highlightYellow: #EBD411;
$highlightOrange: #FF6000;
$highlightRed: #F25555;
$highlightGreen: rgb(132, 189, 0);
