@import "colors";

.homescreen {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 20%;

  form {
    position: relative;
    height: 60px;
    label {
      position: absolute;
      top: 15px;
      color: #999;
      font-size: 18px;
      font-weight: normal;
      pointer-events: none;
      margin: 0 auto;
    }
    fancy-input {
      padding-left: 190px;
    }
  }
}
