.homescreen {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 20%;
  label {
//    margin: 0 auto;
    color: #ffffff;
  }
  input {
    color: white;
    margin: 0 auto;
    border-bottom-color: #ffffff;
    width: 100%;
    max-width: 250px;
    &:focus {
      border-bottom-color: $highlightGreen;
    }
  }
}
