@import 'colors';
@import "../components/searchspotify/searchSpotify";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body,html {
  width: 100%;
  height: 100%;
}
.trackslist {
  max-width: 720px;
//  width: 100%;
}
.trackheader {
//  width: 100%;
//  text-align: center;
  color: $grey;
  text-align: center;

}
.trackheader .trackname {
//  text-align: center;
}
.track-actions {
  color: $grey;
}
.track:first-child {
  padding-top: 1px;
}

.track {
  padding-top: 5px;
}
.track:hover {
  color: $highlightGreen;
}

body {
  background-color: $dark;
  color: $light;    
}
.score {
  font-size: 10px;
  color: $grey;
  padding: 3px;
}
.deleteTrack:hover {
  color: $highlightRed;

}
.deleteTrack {
  text-align: right;
  font-size: 0.5rem;
}
.vote:hover {
  color: white;
}
.vote {
  color: $grey;
  text-align: center;
  @include user-select(none);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Montserrat', sans-serif;
}
