@import 'colors';
@import "../components/searchspotify/searchSpotify";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body,html {
  width: 100%;
  height: 100%;
}
.trackheader {
  width: 100%;
  max-width: 720px;
}
.trackheader .trackname {
  width: 60%;
}
.track-actions {
  color: $grey;
}
.track:hover {
  color: $highlightGreen;
}

body {
  background-color: $dark;
  color: $light;    
}
.vote {
  color: red;
  @include user-select(none);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}