<article class="homescreen">
    <section class="welcome">
        <h1 ng-hide="name">{{name}}</h1>
    </section>

    <section class="input" ng-hide="isloggedin">
        <form ng-submit="login()">
            <material-input-group layout="vertical" layout-align="center center">
                <label for="username">Enter your name</label>
                <material-input id="username" ng-model="username" type="text" autofocus="true">
            </material-input-group>
        </form>
    </section>
</article>