<article class="homescreen">
    <section class="input" ng-show="showUsernamePrompt">
        <h1>Welcome.</h1>

        <form ng-submit="login()">
            <label>What is your name?</label>
            <fancy-text-input ng-model="username" autofocus="true" required></fancy-text-input>
        </form>
    </section>

    <section class="input" ng-show="showRolePrompt">
        <h1>Welcome {{username}}</h1>
        <form ng-submit="choseRole()">
        </form>
    </section>

    <section class="input" ng-show="showGroupPrompt">
        <h1>Welcome {{username}}</h1>
        <form ng-submit="gotoGroup()">
            <label>Join a group?</label>
            <fancy-text-input ng-model="group" autofocus="true" required></fancy-text-input>
        </form>

    </section>
</article>
