@mixin arrow-right($size: 10px, $color: black) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid $color;
}
@mixin arrow-left($size: 10px, $color: black) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: $size solid $color;
}
@mixin arrow-down($size: 10px, $color: black) {
  width: 0;
  height: 0;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
  border-top: $size solid $color;
}
@mixin arrow-up($size: 10px, $color: black) {
  width: 0;
  height: 0;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
  border-bottom: $size solid $color;
}