@mixin prettycheckbox {
  $checkboxsize: 22px;
  $checkboxborder: 4px;

  .spotifyCheckbox {
    float: left;
    width: $checkboxsize;
    height: $checkboxsize;
    position: relative;
    background: $highlightGreen;
    margin-top: -2px;
    margin-right: 4px;
    //@include box-shadow(inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5));
  }

  .spotifyCheckbox input[type=checkbox] {
    display: none;
  }

  .spotifyCheckbox label {
    cursor: pointer;
    position: absolute;
    width: $checkboxsize - 2 * $checkboxborder;
    height: $checkboxsize - 2 * $checkboxborder;
    left: $checkboxborder;
    top: $checkboxborder;
    background-color: $grey;

    //@include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1));
    //@include background-image(linear-gradient(top, #222 0%, #45484d 100%));
  }

  .spotifyCheckbox label:after {
    @include opacity(0);
    content: '';
    position: absolute;
    width: $checkboxsize - 2 * $checkboxborder;
    height: $checkboxsize - 2 * $checkboxborder;
    background: $highlightGreen;

    //@include background-image(linear-gradient(top, #00bf00 0%, #009400 100%));
    //@include box-shadow(inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5));

    top: 0px;
    left: 0px;
  }

  .spotifyCheckbox label:hover::after {
    @include opacity(0.3);
  }

  .spotifyCheckbox input[type=checkbox]:checked + label:after {
    @include opacity(1);
  }
}