
.spotifyCheckbox {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  @include background-image(linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%));
  @include box-shadow(inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5));
}
.spotifyCheckbox input[type=checkbox]{
  display: none;
}
.spotifyCheckbox label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;

  @include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1));
  @include background-image(linear-gradient(top, #222 0%, #45484d 100%));
}

.spotifyCheckbox label:after {
  @include opacity(0);
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;

  @include background-image(linear-gradient(top, #00bf00 0%, #009400 100%));
  @include box-shadow(inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5));

  top: 2px;
  left: 2px;
}

.spotifyCheckbox label:hover::after {
  @include opacity(0.3);
}
.spotifyCheckbox input[type=checkbox]:checked + label:after {
  @include opacity(1);
}
