<input type="text" id="search" placeholder="Search" ng-model="search" ng-change="updateResults()"
       ng-keydown="keyevent($event)" ng-focus="showDropdown()" autofocus>

<ul ng-show="isDropdownVisible()">
    <li ng-show="results.length == 0">
        <section>No results found.</section>
    </li>
    <li ng-repeat="result in results | limitTo:limitToValue" ng-class="{selected: $index === selected}"
        ng-click="selectElement(result)" ng-mouseover="hover($index)">
        <section>{{result.name}} ++</section>
        <section class="dd-artist">{{result.artists[0].name}}</section>
    </li>
</ul>
