/* line 3, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../sass/style.scss */
body, html {
  width: 100%;
  height: 100%;
}

/* line 10, ../sass/style.scss */
body {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

/* line 16, ../sass/style.scss */
.vote {
  color: red;
}
