@import '../../sass/mixins';


spotify-player {
  $playbuttonPanelSize: 120px;
  $playbuttonRelativeSize: 66%;
  $playbuttonSize: 20px;

  width: 100%;
  display: block;
  height: $playbuttonPanelSize;

  .playbuttonpanel {
    float: left;
    position: relative;
//    background-color: $highlightGreen;
    width: $playbuttonPanelSize;
    height: 100%;

    .playbutton {
      position: absolute;
      width: $playbuttonRelativeSize;
      height: $playbuttonRelativeSize;
      left: (100%-$playbuttonRelativeSize)/2;
      top: (100%-$playbuttonRelativeSize)/2;
      border: 3px solid $highlightGreen;

      @include background-image(linear-gradient($gradientGreyTop, $gradientGreyBottom));
      &:hover {
        @include background-image(linear-gradient($gradientSandTop, $gradientGreyBottom));
      }
      &:active {
        @include background-image(linear-gradient($gradientGreyBottom, $gradientSandTop));
      }
      @include border-radius(100%);

      .arrow {
        margin-left: 33px;
        margin-top: 18px;
        @include arrow-right($playbuttonSize, black);
      }
    }
  }
  .statuspanel {
    position: relative;
    height: 100%;
    padding-top: 1rem;
    color: #FFF;

    .informationpanel {

      .statuspanel {
        span {
          color: $grey;
        }
      }
      .currentsongpanel {
        span {
          font-size: 22px;
        }
      }
      .currentalbumpanel {
        span {
          color: $grey;
        }
      }
    }
    .playbar {
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 8px;
      background-color: $grey;
      .playbarprogress {
        width: 55%;
        background-color: $highlightGreen;
        height: 4px;
        @include transition(width 0.2s linear);
      }
    }
  }
}