<div class="playbuttonpanel">
    <div class="playbutton">
        <div class="arrow"></div>
    </div>
</div>
<div class="statuspanel">
    <div class="informationpanel">
        <section class="statuspanel">
            <span ng-show="isplaying()">Now playing</span>
            <span ng-hide="isplaying()">Player paused</span>
        </section>
        <section ng-show="isplaying()" class="currentsongpanel">
            <span>{{song}} - {{artist}}</span>
        </section>
        <section class="currentalbumpanel">
            <span>{{album}}</span>
        </section>
    </div>
    <div class="playbar">
        <div class="playbarprogress"></div>
    </div>
</div>

