<div class="csrfinput" ng-show="showcsrf">
    <div>
        <section class="introtext">
            <label for="csrf">Your csrf token:</label>

            <p class="grey">See <a href="https://github.com/nutgaard/SpotifyHttpJs/blob/master/README.md"
                                   target="_blank">here</a> for instructions.</p>
        </section>
        <section class="inputpanel">
            <input name="csrf" id="csrf" placeholder="token" ng-model="csrfToken"/>
            <span ng-click="testCSRF()">GO</span>
        </section>
        <section class="rememberme">
            <div class="spotifyCheckbox">
                <input type="checkbox" name="remember" id="remember" ng-model="rememberme"/>
                <label for="remember"></label>
            </div>
            <span>Remember this and auto-connect next time.</span>
        </section>
    </div>
</div>
<div class="playbuttonpanel">
    <div class="playbutton" ng-click="playpause()">
        <div ng-show="isplaying()" class="pause">
            <div></div>
            <div></div>
        </div>
        <div ng-hide="isplaying()" class="arrow"></div>
    </div>
</div>
<div class="statuspanel">
    <div class="informationpanel">
        <section class="songpanel">
            <span ng-show="isplaying()">Now playing</span>
            <span ng-hide="isplaying()" class="big">Player paused</span>
        </section>
        <section class="currentsongpanel">
            <span ng-class="{big: isplaying()}">{{current.song}} - {{current.artist}}</span>
        </section>
        <section class="currentalbumpanel">
            <span>{{current.album}}</span>
        </section>
    </div>
    <div class="playbar">
        <div class="playbarprogress"></div>
    </div>
</div>