<div class="playbuttonpanel">
    <div class="playbutton">
        <div ng-show="isplaying()" class="arrow"></div>
        <div ng-hide="isplaying()" class="pause">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="statuspanel">
    <div class="informationpanel">
        <section class="songpanel">
            <span ng-show="isplaying()">Now playing</span>
            <span ng-hide="isplaying()" class="big">Player paused</span>
        </section>
        <section ng-show="isplaying()" class="currentsongpanel">
            <span>{{current.song}} - {{current.artist}}</span>
        </section>
        <section ng-show="isplaying()" class="currentalbumpanel">
            <span>{{current.album}}</span>
        </section>
    </div>
    <div class="playbar">
        <div class="playbarprogress"></div>
    </div>
</div>

